absl-py~=1.2.0
numpy<1.23.0,>=1.14.3
urllib3<1.27,>=1.21.1
apache-beam~=2.42.0
chex==0.1.5
dill<0.3.2,>=0.3.1.1
jax==0.3.24
jaxlib==0.3.24
kaggle~=1.5.12
ml-collections==0.1.1
ncompress~=1.0.0
optax==0.1.3
pandas~=1.5.1
Pillow~=9.3.0
protobuf<3.20,>=3.9.2
pyquaternion==0.9.9
scikit-learn~=1.1.0
tensorflow-datasets~=4.6.0
tensorflow~=2.11.0
xmltodict==0.13.0
